body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x:hidden
   
  }
 

  
  header{
      z-index: 1;
      position: fixed;
      background: #22242A;
      padding: 20px;
      width: calc(100% - 0%);
      top: 0;
      
    }
    .s{
      background-color: brown;
    }
    
    .left_area h3{
      color: #fff;
      margin: 0;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 900;
    }
    
    .left_area span{
      color: #19B3D3;
    }
    
    .logout_btn{
      padding: 5px;
      background: #19B3D3;
      text-decoration: none;
      float: right;
      margin-top: -30px;
      margin-right: 40px;
      border-radius: 2px;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      transition: 0.5s;
      transition-property: background;
    }
    
    .logout_btn:hover{
      background: #0B87A6;
      text-decoration: none;
    }
    
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    bottom: 1%;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
  }
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: greenyellow;
    margin-top: 0;
    margin-bottom: 20px;
    
  }
 
  .dropdown-btn{
      width:100%;
      line-height: 30px;
      background-color:#2f323a ;
      border: none;
  }
  .dropdown-btn:hover{
      background:rgba(24, 23, 23, 0.8);
  }
  .sidebar a, .dropdown-btn a {
      padding: 5px 0px 5px 0px;
      text-decoration: none;
      font-size: 19px;
      color: white;
      display: block;
      border: none;
      background: none;
      width:100%;
      text-align: left;
      cursor: pointer;
      outline: none;
      transition-property: background;
     
    }
    .sidebar i{
      padding-right: 5px;
    }
    .dropdown-container{
      display: none;
    }
   
    .drop-active{
      display:block;
    }
    .btn-active{
      background-color:rgba(24, 23, 23, 0.8) ;
    }
    .dropdown-container a{
        padding-left:27px;
       
    }
    .dropdown-container a:hover{
          background: rgba(24, 23, 23, 0.8);
    }
  