body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
  
.container {
    height: 80px;
    width: 100%;
    background-color:#262626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding-left: 6px;
    padding-right: 8vw;
    z-index: 1;
      position: fixed;
      background: #22242A;
      padding: 20px;
      width: calc(100% - 0%);
      top: 0;
      height: 30px;
}

.container .logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
}

.container .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    text-decoration: none;
  
    font-size: 14px;
}


.container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    margin-left: 58%;
}
.container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container .navbar ul li a {
    text-decoration: none;
    color: #108882;
    font-size: 14px;
    display: block;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
}

.container .navbar ul li a:hover {
    border-radius: 5px;
    border: solid 1px #108882;
}


